---
import Normal from "../layouts/Normal.astro";
---

<Normal title="Über das Projekt">
  <main>
    <h1 style="text-align: center">Über das Projekt</h1>
  </main>
</Normal>

<style>
  main {
    background-color: rgb(0 0 0 / 80%);
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
</style>
