---
import Base from "../layouts/Base.astro";
---

<Base title="Bitte komm zurück">
  <div>
    <img src="/zurück.png" />
  </div>
</Base>

<style>
  div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100vw;
    max-height: 100vh;
    animation: fadeIn 8s;
    animation-delay: 2s;
    opacity: 0;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
