---
import Normal from "../layouts/Normal.astro";
---

<Normal title="Geschichte">
  <main>
    <p>
      Willkommen im WEIßEN RAUM. Dein Name lautet Omori und du lebst hier schon
      so lange du dich erinnern kannst. Alles hier ist hell weiß; es gibt keine
      Wände. Eine schwarze Glühbirne hängt von der Decke... wo auch immer die
      ist. Es gibt einen Boden, aber der ist immer kalt. Der wärmste Ort hier
      ist wahrscheinlich dein Laptop. Das ist dir aber egal. Du hast eine Decke,
      ein Laptop, eine Katze, ein Skizzenbuch und eine Taschentücherbox. Du hast
      alles was du brauchst
    </p>

    <p>
      Du bist normalerweise sehr traurig. Jeder nervt dich, du denkst, dass du
      hässlich bist, du weißt nicht von wo du kommst, du weißt nicht wo du hin
      gehst und du bist zu müde, um dich dafür zu interessieren.
    </p>

    <p>
      An guten Tagen, laden dich deine Nachbarn für ein Besuch ein. "Wie können
      die mit jemanden so schrecklichen wie mir spaß haben?" Du vermisst die
      nun. Wann werden die wieder kommen? Vielleicht ist morgen ein guter Tag!
    </p>

    <p>Oder vielleicht ist morgen ein Tag zum schlafen?</p>

    <p>
      Aber... manchmal erinnerst du dich daran, dass du einen weiteren Freund
      hattest-- jemand wirklich wichtiges.
    </p>

    <p>
      Irgendwo in deinen tiefsten Bereichen deines Kopfs, hast du das Gefühl,
      dass du nicht immer so warst. Du hast nicht immer im WEIßEN RAUM gelebt.
    </p>

    <p>Die Wahrheit ist...</p>

    <p>Deine Geschichte ist schon vorüber. Du musst dich nur erinnern</p>
  </main>
</Normal>

<style>
  main {
    background-color: rgb(0 0 0 / 80%);
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
</style>
