---
import Button from "../components/Button.astro";
import Normal from "../layouts/Normal.astro";
---

<Normal title="Omori Deutsche Übersetzung">
  <main>
    <div class="iframe-responsive-fix">
      <iframe
        width="640"
        height="480"
        src="https://www.youtube-nocookie.com/embed/qzKaTmjNalY?si=ZgKZhsvIJyJgJCPE"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      >
      </iframe>
    </div>
    <Button href="/download">herunterladen</Button>
  </main>
</Normal>

<style>
  main {
    margin: 0 auto;
    padding: 1rem;
    width: 800px;
    max-width: 100vw;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  iframe {
    position: absolute;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .iframe-responsive-fix {
    position: relative;
    overflow: hidden;
    width: 100%;

    margin-bottom: 1rem;
  }

  /* fix für responsive iframe */
  .iframe-responsive-fix::after {
    display: block;
    content: "";
    padding-top: 56.25%;
  }
</style>
