<footer>
  <a href="https://youtube.com">
    <img src="/youtube.png" />
  </a>
  <a href="https://discord.com">
    <img src="/discord.png" />
  </a>
  <a href="https://twitter.com/OMORI_GERMAN">
    <img src="/twitter.png" />
  </a>
  <a href="https://mods.one/">
    <img src="/mods-dot-one.png" />
  </a>
</footer>

<style>
  footer {
    padding: 0.5rem;
    border-top: 0.1rem solid white;
    /* background: black; */
    display: flex;
    justify-content: center;
    z-index: 1;
    gap: min(5vw, 1rem);
  }

  img {
    width: min(15vw, 4rem);
  }

  a {
    display: flex; /* entfernt platz unter <img> */
  }
</style>
