<a href="/bitte-komm-zurueck">
  <img src="/Omori Website 1.gif" />
</a>

<style>
  a {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }

  img {
    width: min(300px, 50vw);
  }
</style>
